<div class="k-content references searching">
    <div class="references-wrap splitter-wrap">
        <div class="searchbar" data-pane-index="10"></div>
        <div class="bottom-wrap">
            <div class="list-wrap">
                <div class="list-browse"></div>
                <div class="list-title"></div>
                <div class="list-content pane-scrollable" data-pane-index="20">
                    <div class="pane-content pane-text pane-slim-e pane-slim-n"></div>
                </div>
            </div>
            <div>
                <div class="detail-outer-wrap">
                    <!-- splitter -->
                    <div class="detail-wrap">
                        <div class="detail-title"></div>
                        <div class="detail-content pane-scrollable" data-pane-index="30"></div>
                        <div class="detail-highlight"></div>
                        <div class="detail-notes-title"></div>
                        <div class="detail-notes pane-scrollable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe name="references_print_frame" width="0" height="0" frameborder="0" src="<%= printTemplate + '?v=3.1.0.363' %>"></iframe>