<div class="edits-content content">

    <div class="accordion-group">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title">Medicare Code Edits (MCE)</span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <p>No edits apply</p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title">Outpatient Code Edits (OCE)</span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <p>No edits apply</p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title">TruCode Edits</span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <p>No edits apply</p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title">Medical Necessity Edits</span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <p>No edits apply</p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title">RAC Alert!</span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <p>No edits apply</p>
            </div>
        </div>
    </div>

</div>