<div class="research-content content <%= codeType.toLowerCase() %><% if (hiddenSections.length > 0) { print(' ' + hiddenSections); } %>">

    <div class="accordion-group CC_ICD9">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CC_ICD9 %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group CC_ICD10">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CC_ICD10 %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group CC_HCPCS">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CC_HCPCS %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group ICD9_GUIDELINES">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.ICD9_GUIDELINES %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group ICD10_GUIDELINES">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.ICD10_GUIDELINES %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group CPT_ASSISTANT">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CPT_ASSISTANT %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group CDR">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CDR %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group INTERVENTIONAL_RADIOLOGY">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.INTERVENTIONAL_RADIOLOGY %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group CROSSWALK">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CROSSWALK %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

        <div class="accordion-group ANESTHESIA_CROSSWALK">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.ANESTHESIA_CROSSWALK %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group CODING_ADVICE">
        <div class="section-heading accordion-heading empty">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon k-plus"></span>
                    <span class="section-title"><%= TextBook.CODING_ADVICE %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body hide">
            <div class="accordion-inner">
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="accordion-group ADDITIONAL_REFERENCES<% if (books.length > 0) { print(' selectable'); } %>">
        <div class="section-heading accordion-heading <% if (books.length > 0) { print('collapsible'); } else { print('empty'); } %>">
            <div class="accordion-toggle">
                <a href="javascript:void(0)" class="section-expander">
                    <span class="toggle-icon k-icon <% if (books.length > 0) { print('k-minus'); } else { print('k-plus'); } %>"></span>
                    <span class="section-title"><%= TextBook.ADDITIONAL_REFERENCES %></span>
                    <span class="section-pin"></span>
                </a>
            </div>
        </div>
        <div class="section-items accordion-body<% if (books.length === 0) { print(' hide'); } %>">
            <div class="accordion-inner">
                <ul>
                    <% _.each(books, function(item) { %>
                        <% if (item.isResource) { %>
                            <li id="resource-<%= item.id %>" class="type-<%= item.type %>"><a class="type-<%= item.type %> resource<%= item.isProtected ? ' protected' : '' %>" href="javascript:void(0)" data-resource-id="<%= item.id %>" data-item-type="<%= item.type %>"><%= item.title %></a></li>
                        <% } else { %>
                            <li id="reference-<%= item.id %>" class="type-<%= item.type %>"><a class="type-<%= item.type %> reference<%= item.isProtected ? ' protected' : '' %>" href="javascript:void(0)" data-book-id="<%= item.id %>" data-item-type="<%= item.type %>"><%= item.title %></a></li>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

</div>