<div class="pane-content pane-slim-s<% if (!hideResearch) { print(' pane-slim-e'); } %>">
    <div class="heading-slim">
        <span>Book: <%= book %></span>
    </div>
    <div class="heading-alt">
        <div class="controls control-group">
            <button type="button" class="tabular-back tabular-history disabled k-state-disabled k-button"><span class="k-icon k-i-arrow-w">Back</span></button>
            <button type="button" class="tabular-forward tabular-history disabled k-state-disabled k-button"><span class="k-icon k-i-arrow-e">Forward</span></button>
            <span class="context"></span>
        </div>
    </div>
</div>